@takamol:registry=https://gitlab.qiwa.tech/api/v4/packages/npm/
//gitlab.qiwa.tech/api/v4/packages/npm/:_authToken=GcThPYncc7oh1Lf4bXsd
//gitlab.qiwa.tech/api/v4/projects/:_authToken=GcThPYncc7oh1Lf4bXsd
engine-strict = true
save-prefix=""
